import Fun{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Fun{{properCase name}}',
  component: Fun{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Fun{{properCase name}} },
  template: `
    <div>
      <fun-{{name}}></fun-{{name}}>
    </div>
  `
})